{% extends '::index.html.twig' %}
{%block title1 %}Mes posts
    <a name="top"></a>
<span class='right_header'><a href="{{ path('Threads_new') }}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Ajouter un nouveau post</a></span>
{%endblock%}
{% block body -%}
    <style>
        .right_header{
             float: right;
             position: absolute;
             right: 0;
         }
    </style>

    <table class="table table-condensed table-striped responsive-utilities jambo_table">
        <thead>
            <tr>
                <th>Cr&eacute;e le</th>
                <th>Expediteur</th>
                <th>Type</th>
                <th>Contenu</th>
                <th>Objet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.expediteur }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.contenu | slice(0, 50) }}...</td>
                <td>{{ entity.objet }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Threads_show', { 'id': entity.id }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('Threads_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
