{% extends '::index.html.twig' %}

{% block body -%}
    

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Cr&eacute; &nbsp; :</th>
                <td>{{ entity.dateCreation|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Objet &nbsp; :</th>
                <td>{{ entity.objet }}</td>
            </tr>
            <tr>
                <th>Expediteur&nbsp; :</th>
                <td>{{ entity.expediteur }}</td>
            </tr>
            <tr>
                <th>Type &nbsp; :</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Contenu &nbsp; :</th>
                <td>{{ entity.contenu }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Threads') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Threads_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
