<!DOCTYPE HTML>
<html>
<head>
<title>OPENTECHS</title>
<!-- Custom Theme files -->
<link href="{{asset('kernel/css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{asset('kernel/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--search start here-->
<div class="search">
	<i> </i>
        <p><a href="#" id='mail' role="button" class="active" class="btn">Verifier un mail ou une adresse mail</a> <a href="#" role="button" id="black" class="btn"> Verifier un domaine</a></p>
	<div class="s-bar">
            
	   <form>
		<input type="text" id="term" value="Entrez une adresse mail ou un mot cl&eacute;" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Entrez une adresse mail ou un mot cl&eacute;';}">
		<input type="submit" id="search"  value="Rechercher"/>
	  </form>
        </div>
        <p>{%if is_granted("ROLE_USER")%}<a href="#" href="#modal-container-92468" id='new' role="button" class="btn" data-toggle="modal">Contribuez &agrave l'am&eacute;lioration de la plateforme</a>{%else%}<a href="{{path("Threads_new")}}">Contribuez &agrave l'am&eacute;lioration de la plateforme</a>{%endif%} <a href="#" href="#modal-container-92468" role="button" class="btn" data-toggle="modal"> Nous contactez</a></p>
</div>
<div class="row">
		<div class="col-md-12">
			 <a id="modal-92468" class="hide" href="#modal-container-92468" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			
			<div class="modal fade" id="modal-container-92468" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
<!--search end here-->	
<div class="copyright">
	 <p>2016 &copy OPENSTECH All rights reserved</p>
</div>	
<script src="{{asset('kernel/js/jquery.min.js')}}"></script>
<script src="{{asset('kernel/js/bootstrap.min.js')}}"></script>
<script>
$(".loading").hide();
$("#search").click(function(e){
    e.preventDefault();
    $('#modal-92468').trigger('click');
    $('.modal-header').empty().html('Recherche en cours ....');
    $('.modal-body').html('<img src="{{asset('kernel/images/loader.gif')}}"/>');
    $(".loading").show();
    var motcle = $("#term").val();
    var DATA = 'motcle=' + motcle;
    $.ajax({
        type: "POST",
        url: "{{ path('myapp_posts_rechercher')}}",
        data: DATA,
        cache: false,
        success: function(data){
            $('.modal-header').empty().html('Resultat de la recherche');
           if(data != ""){
                $('.modal-body').empty().html(data);
            }
            else{
                $('.modal-body').empty().html('<div class="alert alert-danger">Aucune correspondance trouvee</div>')
            };
           $(".loading").hide();
        }
    });    
    return false;
});
</script>
{#Blacklist search#}

<script>
$('#new').click(function(e){
    e.preventDefault();
    $('#modal-92468').trigger('click');
    $('.modal-body').empty().load("{{path('Threads_new')}} #conten");
})
</script>
<script>
//change form
$('#mail').click(function(e){
    e.preventDefault();
    $(this).css('color','blue')
    $('.s-bar').empty().load("{{path("risk_plateform_mailSearch")}}");
});
$('#black').click(function(e){
    e.preventDefault();
    $('.s-bar').empty().load("{{path("risk_plateform_ipSearch")}}");
});
</script>
</body>
</html>